
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sopra{
    color: #29b1dd;
    height: 50px;
    padding: 15px 0 0 10px;
}

header nav {
    background-color: #29b1dd;
    color: white;
    text-align: center;
    text-transform: uppercase;
    height: 50px;
    line-height: 50px;
}



main {
    background-color: #dddddd;
    min-height: calc(100vh - 100px);
}

#container {
    width: 90%;
    height: 90%;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: calc((100% / 5) - 30px);
    height: calc(100% / 8);
    background-color: greenyellow;
    border-radius: 30px;
    margin-top: 20px;
}

.card i{
    font-size: 25px;
    margin-bottom: 10px;
}

.card span{
    text-transform: uppercase;
}